body {
  margin-left: 10px;
  margin-right: 10px;
}
/*table{
 	height:300px;   // <-- Select the height of the table
}
thead{
	width: 10px;
}
tbody{
	overflow-y: scroll;      
	height: 259px;  //  <-- Select the height of the body
 	width: 100%;
  	position: absolute;
}*/